body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #12355B;
}

button {
    width: 80px;
    height: 80px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
}

#container #title {
    margin-bottom: 50px;
    text-align: center;
    margin-top: 0px;
    font-size: 25px;
    color: white;
}

#display p {
    font-size: 25px;
    padding: 6px;
    margin: 10px 10px;
    color: #FF570A;
}

#container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#display {
    width: 332px;
    height: 60px;
    text-align: left;
    box-sizing: border-box;
    border: 1px solid white;
    background: black;
}

#buttons {
    display: flex;
    gap: 5px;
}

#btn0 {
    width: 164px
}

.disabled {
    pointer-events: none;
}

#left-side {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#right-side {
    display: flex;
    flex-direction: column;
}

.numbers {
    color: white;
    background: black;
}

.numbers:active {
    background: white;
    color: black;
    border: 1px solid black;
}

#right-side button, #decimal, #del, #percentage, #equals {
    background: #FF570A;
}

#right-side button:active, #decimal:active, #del:active, #percentage:active, #equals:active {
    background: #FF8247;
}

#container #footer {
    text-align: center;
    margin-top: 120px;
    font-size: 25px;
    color: white;
}